﻿@model IEnumerable<TaskViewModel>

@if (Model.Count() == 0)
{
    <h2 class="text-center">There are no tasks in the ToDo List</h2>
    <h2 class="text-center">Be the first to add a task</h2>
    <div class="mt-3 text-center">
        <a asp-action="Create">Create new task</a>
    </div>
}
else
{
    <h1>ToDo List</h1>

    <div class="mt-3">
        <a asp-action="Create">Create new task</a>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assignment.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assignment.AssignedTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Done)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item=> task.Id)</td>
                    <td>@task.Name</td>
                    <td>@task.Description</td>
                    <td>@task.CreatedOn</td>
                    <td>@task.Assignment.CreatedBy</td>
                    <td>@task.Assignment.AssignedTo</td>
                    <td>@task.Done</td>
                    <td>@Html.HiddenFor(item => task.Assignment.Id)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@task.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@task.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@task.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



